<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ countrie.country }} 
        </ion-title>
        <ion-avatar slot="start">
            <ion-img [src]="countrie.countryInfo.flag"></ion-img>
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-card>
            <ion-card-content class="ion-no-padding ion-no-margin">
              <div id="cases" style="width:100%; height:350px;"></div>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content class="ion-no-padding ion-no-margin">
              <div id="historialChar" style="width:100%; height:350px;"></div>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content class="ion-no-padding ion-no-margin">
              <div id="casesChart" style="width:100%; height:350px;"></div>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content class="ion-no-padding ion-no-margin">
              <div id="casesToday" style="width:100%; height:350px;"></div>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content class="ion-no-padding ion-no-margin">
              <div id="incrementosRecientes" style="width:100%; height:350px;"></div>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
