<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>COVID-19</ion-title>
        <ion-searchbar animated (ionChange)="searchEvent($event)" slot="end" *ngIf="isSearch"></ion-searchbar>
        <ion-buttons slot="end">
            <ion-button (click)="ngOnInit()">
                <ion-icon name="refresh-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="searchEvent(null)">
                <ion-icon name="search-outline"></ion-icon>
            </ion-button>
            <ion-button [routerLink]="['/autor']">
                <ion-icon name="information-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <app-covid19-component [countries]="countries | filtro: textoBuscar: 'country'"></app-covid19-component>
</ion-content>